/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select:focus,
textarea {
  font-size: 16px!important;
}

.tableDiv::-webkit-scrollbar {
  display: none;
}

#videocontainer .scan-region-highlight-svg {
  @apply stroke-primary-500 !important;
  animation: none !important;
}

#videocontainer .code-outline-highlight {
  @apply stroke-primary-500 !important;
}