@import "tailwindcss";

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #e6f4eb;
  --color-primary-100: #c2e3cc;
  --color-primary-200: #9ed2ae;
  --color-primary-300: #7ac18f;
  --color-primary-400: #56b071;
  --color-primary-500: #329d53;
  --color-primary-600: #008b27;
  --color-primary-700: #007a22;
  --color-primary-800: #00691e;
  --color-primary-900: #005819;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

input,
select:focus,
textarea {
    font-size: 16px !important;
}

.tableDiv::-webkit-scrollbar {
    display: none;
}

#videocontainer .scan-region-highlight-svg {
    animation: none !important;
}

#videocontainer .code-outline-highlight {
    /*  non tratteggiato */
    stroke-dasharray: 0 !important;
    /* 2px */
    stroke-width: 8px !important;
}

/* scrollbar webkit */
.sidebar div::-webkit-scrollbar {
    width: 5px;
}

.sidebar div::-webkit-scrollbar-track {
    background: #414041;
}

.sidebar div::-webkit-scrollbar-thumb {
    background: #329d53;
    border-radius: 10px;
}

.sidebar div::-webkit-scrollbar-thumb:hover {
    background: #329d53;
}

/* Number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}